.center-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.background-container {
  background-image: url('../../assets/img/fondopantalla.jpeg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  min-height: 100%;
}

.list{
  background-color:  #2c2c2c;  
}

.logo-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px; 
}

.rotating-logo {
  width: 100px; 
  height: 100px;
}