<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>registrar</ion-title>
  </ion-toolbar>
</ion-header>

<ion-tabs>
  <ion-tab-bar slot="bottom" color="light">
    <ion-tab-button (click)="navDemo()" tab="demo">
      <ion-icon name="musical-notes-outline"></ion-icon>
      Demo
    </ion-tab-button>
    <ion-tab-button (click)="navBiblioteca()" tab="biblioteca">
      <ion-icon name="library-outline"></ion-icon>
      Biblioteca
    </ion-tab-button>
    <ion-tab-button (click)="navRegistrar()" tab="registrar">
      <ion-icon name="document-text-outline"></ion-icon>
      Registrar
    </ion-tab-button>
    <ion-tab-button (click)="navBuscar()" tab="buscar">
      <ion-icon name="search"></ion-icon>
      Buscar
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
