<ion-header>
  <ion-toolbar>
    <ion-title>Registra tu Banda!</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" >
  <form [formGroup]="registroForm" (ngSubmit)="onSubmit()">
    <ion-item>
      <ion-label position="floating">Nombre</ion-label>
      <ion-input formControlName="nombre" type="text"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating" color="dark">Fecha de Inicio</ion-label>
      <ion-datetime formControlName="fechaInicio" display-format="DD/MM/YYYY"></ion-datetime>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Descripción</ion-label>
      <ion-textarea formControlName="descripcion" rows="3"></ion-textarea>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Integrantes (separados por comas)</ion-label>
      <ion-input formControlName="integrantes" type="text"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Estilo</ion-label>
      <ion-input formControlName="estilo" type="text"></ion-input>
    </ion-item>

    <ion-button expand="full" type="submit" [disabled]="!registroForm.valid">
      Registrar
    </ion-button>
  </form>

</ion-content>