.tabs-visible {
  display: flex-end;
}

.tabs-hidden {
  display: none;  // Oculta las tabs
}

// Opcional: Agrega animaciones para transiciones suaves
ion-tabs {
  transition: opacity 0.3s ease;  // Transición suave
}

.tabs-hidden {
  opacity: 0;  // Hace invisible en lugar de none para animaciones
  pointer-events: none;  // Desactiva clics
}

// //Animacion CSS
// .Navegar {
//   animation-duration: 5s;
//   animation-name: slide-in;
//   animation-iteration-count: 1;
//   animation-direction: alternate;
// }
// @keyframes slide-in {
//   from {
//     translate: 150vw 0;
//     scale: 200% 1;
//   }

//   to {
//     translate: 0 0;
//     scale: 100% 1;
//   }
// }

